@import "../common/colors";
@import "../common/type";

.i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  color: $color--white;
}

.i-stream {
  position: absolute;
  bottom: 50%;
}

.i-header {
  @extend %font-size--header--large;

  color: $color--white;
  opacity: 0.1;
}

.i-content {
  @extend %font-size--copy--medium;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // display: flex;
  // // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  left: calc(100vw / 3.5);
  top: 50vh;
  transform: translateY(-300px);
}

.i-bio {
  margin-bottom: calc(100vh / 14 * 3 / 4);
}

.i-bio {
  &-head {
    text-transform: uppercase;
    font-family: $font-family--header;
  }
}

.i-social {
  text-transform: Capitalize;
  font-size: 60px;
  // font-family: $font-family--copy;

  // &:hover {
  //   opacity: 1;
  // }
}
