$font-family--header: "gt-super", serif;
$font-family--copy: "Karla", sans-serif;
$font-family--nav: "Karla", sans-serif;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 800;

%font-size--copy--small {
  font-size: responsive 12px 13px;
  line-height: 1.15;
  font-range: 670px 2560px;
}

%font-size--copy--medium {
  font-size: responsive 27px 37px;
  line-height: 1.59;
  font-range: 670px 2560px;
}

%font-size--header--large {
  font-size: responsive 259px 302px;
  line-height: 0.69;
  font-range: 670px 2560px;
}

%font-size--header--x-large {
  // font-size: responsive 259px 102px;
  font-size: 400px;
  line-height: 0.69;
  // font-range: 670px 2560px;
}
