@charset "utf-8/index";

/** Imports */
@font-face {
  font-family: "gt-super";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/GT-Super/GT-Super-Display-Super.woff2") format("woff2"),
    url("./assets/GT-Super/GT-Super-Display-Super.woff") format("woff"),
    url("./assets/GT-Super/GT-Super-Display-Super.ttf") format("truetype"),
    url("./assets/GT-Super/GT-Super-Display-Super.eot")
    format("embedded-opentype");
}

/** Settings */
@import "./common/colors";

/** Generic */
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./common/reset";

/** Elements*/
@import "./common/elements";

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.pointer {
  cursor: pointer;
}
