@charset "utf-8/index";

/** Imports */
@font-face {
  font-family: "gt-super";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/GT-Super/GT-Super-Display-Super.woff2") format("woff2"),
    url("./assets/GT-Super/GT-Super-Display-Super.woff") format("woff"),
    url("./assets/GT-Super/GT-Super-Display-Super.ttf") format("truetype"),
    url("./assets/GT-Super/GT-Super-Display-Super.eot")
    format("embedded-opentype");
}

/** Settings */
@import "./common/colors";

/** Generic */
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./common/reset";

/** Elements*/
@import "./common/elements";

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color--offWhite;
  color: $color--black;
}
