@charset "utf-8/index";

/** Imports */
@font-face {
  font-family: "GT-America-Expanded-Black";
  font-style: normal;
  src: url("./assets/GT-America/GT-America-Expanded-Black.woff2")
    format("woff2"),
    url("./assets/GT-America/GT-America-Expanded-Black.woff") format("woff"),
    url("./assets/GT-America/GT-America-Expanded-Black.ttf") format("truetype"),
    url("./assets/GT-America/GT-America-Expanded-Black.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "GT-America-Expanded-Thin";
  font-style: normal;
  src: url("./assets/GT-America/GT-America-Expanded-Thin.woff2") format("woff2"),
    url("./assets/GT-America/GT-America-Expanded-Thin.woff") format("woff"),
    url("./assets/GT-America/GT-America-Expanded-Thin.ttf") format("truetype"),
    url("./assets/GT-America/GT-America-Expanded-Thin.eot")
    format("embedded-opentype");
}

/** Settings */
@import "./common/colors";

/** Generic */
@import "../../node_modules/normalize-scss/sass/normalize";
@import "./common/reset";

/** Elements*/
@import "./common/elements";

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.pointer {
  cursor: pointer;
}
