/** Settings */
@import "../common/colors";
@import "../common/type";

/**
 * Home
 */

.h {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color--black;
}

.h-roller-wrap {
  position: absolute;
  top: calc(100vh * 4 / 7);
  //bottom: calc(100vh * 3 / 7);
  left: calc(100vw / 7);
}

.h-sections-wrap {
  position: absolute;
  top: calc(100vh / 7);
  left: calc(100vw * 2 / 7);
}

/** 
 * Roller
 */

.h-roller,
_px {
  position: absolute;
  // this sets the height so .h-roller-title-name is always visible
  @extend %font-size--copy--medium;

  line-height: 1.3;
  color: transparent;
  transform: translateY(-100%);
}

.h-roller-indexes,
.h-roller-titles-mask {
  position: absolute;
}

.h-roller-titles {
  position: relative;
}

.h-roller-indexes,
.h-roller-titles,
.h-roller-titles-mask {
  top: 0;
  left: 0;
  height: 100%;
}

.h-roller-titles-mask {
  overflow: hidden;
}

.h-roller-index,
.h-roller-title,
_px {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.h-roller-index,
_px {
  &-number {
    position: absolute;
    color: $color--grey;
    transform: translateX(-150%);
  }

  &-name {
    color: $color--black;
    position: relative;
  }

  &-number,
  &-name {
    @extend %font-size--copy--small;

    line-height: 2.1;
  }
}

.h-roller-title,
_px {
  &-name {
    @extend %font-size--copy--medium;

    position: relative;
    line-height: 1.3;
    color: $color--black;

    /**
     * TODO: look into making this clear so page transitions work
     */
    background-color: $color--offWhite;
  }
}

/** 
 * Sections
 */
.h-sections {
  position: absolute;
  height: calc(100vh * 5 / 7);
}

.h-section {
  position: relative;
  height: 100%;
}

.h-meta {
  position: relative;
  left: calc(100vw / 14);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.h-meta-col {
  @extend %font-size--copy--small;

  position: relative;
  display: inline-block;
  width: calc(100vw / 7);
}

.h-meta-rule,
_px {
  height: 1px;
  background-color: $color--black;
  opacity: 0.4;
  width: 75%;
  left: 0;
}

.h-meta-label {
  margin-top: calc(100vh / 7 / 8);
  font-weight: $font-weight--bold;
  opacity: 0.9;
}

.h-meta-description {
  margin-top: calc(100vh / 7 / 16);
  opacity: 0.8;
}

.h-title-container {
  @extend %font-size--header--large;

  font-family: $font-family--header;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color--black;
  position: absolute;
  left: 0;
  bottom: calc(100% * 2 / 5);
}

.h-description-container {
  @extend %font-size--copy--medium;

  color: $color--grey;
  position: absolute;
  left: calc(100vw / 14);
  top: calc(100% * 4 / 5);
  width: calc(100vw * 4.125 / 14);
}
