/** Settings */
@import "../common/colors";
@import "../common/type";

/**
 * Home
 */

.h {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color--white;
}

.h-roller-wrap {
  position: absolute;
  top: 50vh;
  left: calc(100vw / 28);
}

/** 
 * Roller
 */

.h-roller {
  position: absolute;
  // this sets the height so .h-roller-title-name is always visible
  // @extend %font-size--copy--medium;
  @extend %font-size--roller-em;

  line-height: 1.8;
  color: transparent;
  transform: translateY(-100%);
}

.h-roller-indexes,
.h-roller-titles-mask {
  position: absolute;
}

.h-roller-titles {
  position: relative;
}

.h-roller-indexes,
.h-roller-titles,
.h-roller-titles-mask {
  top: 0;
  left: 0;
  height: 100%;
}

.h-roller-titles-mask {
  overflow: hidden;
}

.h-roller-index,
.h-roller-title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.h-roller-index {
  &-number {
    //position: absolute;
    color: $color--grey;
    margin-right: 10px;
    //transform: translateX(-150%);
  }

  &-name {
    color: $color--white;
    position: relative;
  }

  &-number,
  &-name {
    @extend %font-size--copy--small;

    line-height: 2.1;
  }
}

.h-roller-title {
  &-number {
    @extend %font-size--copy--small;

    color: transparent;
    margin-right: 10px;
    opacity: 0;
  }

  &-name {
    // @extend %font-size--copy--medium;
    @extend %font-size--roller-em;

    font-family: $font-family--header;
    text-transform: uppercase;
    position: relative;
    line-height: 1.5;
    color: $color--white;

    /**
     * TODO: look into making this clear so page transitions work
     */
    background-color: $color--black;
  }
}

/** 
 * Sections
 */
.h-sections,
.h-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 50% 50%;
}

.h-title-wrap,
.h-data-wrap {
  position: absolute;
  left: 0;
  right: 0;
}

.h-title-wrap {
  bottom: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.h-data-wrap {
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.h-data {
  @extend %font-size--copy--medium;

  margin-top: calc(100vh / 14);
}

.h-title-mask {
  position: relative;
  width: calc(100vw * 6 / 7);
  right: 0;
  overflow: hidden;
  padding: 100px 0;
  transform: translateY(100px);
}

.h-title-stream {
  @extend %font-size--header--x-large;

  display: block;
  white-space: nowrap;
  font-family: $font-family--header;
  transform: translate3d(-30%, 0, 0);
}

.h-title-stream {
  display: inline-block;
}
