/** Settings */
@import "../common/colors";
@import "../common/type";

/**
 * Home
 */

.h {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $color--white;
}

.h-roller-wrap {
  position: absolute;
  top: 50vh;
  left: calc(100vw / 28);
}

.h-menu-wrap {
  position: absolute;
  // left: calc(100vw / 7);
  // left: 0;
  left: calc(100vw * 3 / 14);
  // top: calc(100vh / 7);
  top: 50vh;
  transform: translateY(-100%);
}

/** 
 * Roller
 */

.h-roller {
  position: absolute;
  // this sets the height so .h-roller-title-name is always visible
  // @extend %font-size--copy--medium;
  @extend %font-size--roller-em;

  line-height: 1.8;
  color: transparent;
  transform: translateY(-100%);
}

.h-roller-indexes,
.h-roller-titles-mask {
  position: absolute;
}

.h-roller-titles {
  position: relative;
}

.h-roller-indexes,
.h-roller-titles,
.h-roller-titles-mask {
  top: 0;
  left: 0;
  height: 100%;
}

.h-roller-titles-mask {
  overflow: hidden;
}

.h-roller-index,
.h-roller-title {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
}

.h-roller-index {
  &-number {
    color: $color--grey;
    margin-right: 10px;
    position: relative;
  }

  &-name {
    color: $color--white;
    position: relative;
  }

  &-number,
  &-name {
    @extend %font-size--copy--small;

    line-height: 2.1;
  }
}

.h-roller-title {
  &-number {
    @extend %font-size--copy--small;

    color: transparent;
    margin-right: 10px;
    opacity: 0;
  }

  &-name {
    @extend %font-size--roller-em;

    font-family: $font-family--header;
    text-transform: uppercase;
    position: relative;
    line-height: 1.5;
    color: $color--white;

    /**
     * TODO: look into making this clear so page transitions work
     */
    background-color: $color--black;
  }
}

/** 
 * Sections
 */
.h-sections,
.h-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 50% 50%;
}

.h-title-wrap,
.h-data-wrap {
  position: absolute;
  left: 0;
  right: 0;
}

.h-title-wrap {
  bottom: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.h-data-wrap {
  top: 50vh;
  position: absolute;
  left: calc(100vw * 3 / 14);
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
}

.h-data {
  @extend %font-size--copy--medium;

  display: inline-block;
  margin-top: calc(100vh / 14);
}

.h-title-mask {
  position: relative;
  width: calc(100vw * 6 / 7);
  right: 0;
  overflow: hidden;
  padding: 100px 0;
  transform: translateY(100px);
}

.h-index,
_px {
  @extend %font-size--nav;

  position: absolute;
  top: calc(100vw / 28);
  left: calc(100vw * 3 / 14);
  color: $color--grey;
  // line-height: 2.15;
}

.h-title-stream {
  @extend %font-size--header--x-large;

  display: block;
  white-space: nowrap;
  font-family: $font-family--header;
  left: 50%;
  transform: translate3d(-100px, 0, 0);
}

.h-title-stream {
  display: inline-block;
  text-transform: uppercase;
}

.h-title-index {
  color: $color--grey;

  @extend %font-size--copy--small;
}

.h-link-wrap {
  position: relative;
  margin-top: calc(100vh / 14 * 3 / 4);
}

.h-date {
  //margin-left: 80px;
  font-family: $font-family--header;
  text-transform: uppercase;
}

/**
 * Menu
 */
.h-menu {
  @extend %font-size--header--large;

  position: relative;
  font-family: $font-family--header;
  text-transform: uppercase;
  text-align: right;
  color: transparent;
}

.h-menu-list {
  // will-change: transform;
}

.h-menu-list,
.h-menu-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.h-menu-mask {
  overflow: hidden;
}

.h-menu-item {
  position: relative;
  opacity: 1;
  color: transparent;
  // -webkit-text-stroke: 1px $color--white;
  transition: color 1s;
}

.h-menu-mask .h-menu-list {
  position: relative;
  // text-align: left;
}

.h-menu-item {
  color: $color--white;
  opacity: 0.1;
  text-align: left;
  // transition: 1s opacity, 0s color;
}

// .h-menu-mask .h-menu-item {
//   opacity: 1;
//   color: $color--white;
//   // transition: 0s opacity;
// }

.h-menu-item.active {
  // color: $color--white;
  // opacity: 1;
}

.h-menu-mask .h-menu-item.active {
  // opacity: 0;
}

.h-menu-index {
  @extend %font-size--copy--medium;

  position: absolute;
  font-family: $font-family--copy;
  color: $color--white;
  transform: translate(-50%, -100%);
  left: calc(100vw * 4 / 14);
  //bottom: 0;
  // top: calc(50vh);
  text-align: center;
  white-space: nowrap;
  // padding: 50px;
  // transform: translateX(-200%);
}
